.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerForm {
  margin-top: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 5px outset #ff2600;
  padding: 15px;
  border-radius: 40px;
}
